
        <h1 [ngStyle]="{
            'color':h1Style ? 'gray' : 'black',
            'font-size': !h1Style ? '1em' : '4em'
            }">Home</h1>
        <button (click)="firstClick()">BEKA</button>
        <div id="bar">
            <ul style="list-style-type:none">
                <dl class="bar-item" >
                    <a class="bar-link active">Все товары</a>
                </dl>
                <dl class="bar-item">
                    <a class="bar-link" href="#">Car1</a>
                </dl>
                <dl class="bar-item">
                    <a class="bar-link" href="#">Car2</a>
                </dl>
                <dl class="bar-item">
                    <a class="bar-link" href="#">Car3</a>
                </dl>
                <dl class="bar-item">
                    <a class="bar-link" href="#">Car4</a>
                </dl>
                <dl class="bar-item">
                    <a class="bar-link" href="#">Car4</a>
                </dl>
                
            </ul>
        </div>


